.forget_password_card {
  margin: 5% !important;
  background: #efefef3b !important;
  border: 1px solid #d6d1d1 !important;
  border-radius: 0px !important;
  text-align: center !important;
  box-shadow: 2px 5px 16px 0px #0e4a86, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  border-radius: 20px;
  width: "50%";
  margin: 50px 0;
}
