@import "./Colors.scss";
@import "./Props.scss";
@import "./media.scss";
// @import "./uifonts.scss";

.font,
body {
  font-family: "Poppins", sans-serif;
}

@mixin bgImage($radius: 50%) {
  height: 100%;
  width: 100%;
  border-radius: $radius;
  background-color: #e2e2e2;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

@mixin dropDownAnim($duration: 0.3s) {
  animation-name: drop;
  animation-duration: $duration;
  transform-origin: top;
}

@keyframes drop {
  0% {
    transform: scaleY(0.5);
    opacity: 0;
  }
}

.wrapWidth {
  width: 1150px;
  margin: 0 auto;
}
.main-body {
  margin: 40px 0;
}

.App {
  background: $pageBackground;
  min-height: 100vh;
}

//Radio Button
.radio-btn {
  height: 22px;
  width: 22px;
  min-width: 22px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  margin-right: 12px;
  &::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    min-width: 15px;
    background: $themeColor;
    border-radius: 50%;
    left: 2.5px;
    top: 2.5px;
    visibility: hidden;
    opacity: 0;
    @include anim;
  }
  &.on {
    border-color: $themeColor;
    &:before {
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

// Profile Page
.profile {
  // height: 100vh;
  z-index: 10;
  background-color: #f9f9f9 !important;
  padding: 0px !important;
  .wrap {
    width: 100%;
    height: 100%;
    .user-imges {
      height: 240px;
      width: 100%;
      border-radius: 0 0 10px 10px;
      background-color: #e2e2e2;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center !important;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      .user-profile {
        position: relative;
      }
      .user-banner {
        position: relative;
        flex: 1;
      }
      .profile_user {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        position: relative;
        bottom: -100px;
        right: -40px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      }
      .banner_user {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        position: relative;
        bottom: -100px;
        right: -40px;
      }
      .camera-icon {
        cursor: pointer;
        position: absolute;
        // bottom: -20px;
        top : 212px;
        right: -44px;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background: $themeColor;
        justify-content: center;
        color: #fff;
        svg {
          path {
            fill: #fff;
          }
        }
        .select-dp {
          cursor: pointer;
          opacity: 0;
          width: 100%;
          height: 100%;
          position: inherit;
        }
      }
      .camera-icon-e {
        cursor: pointer;
        position: absolute;
        border: 2px solid;
        right: 0px;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background: $themeColor;
        justify-content: center;
        color: #fff;
        svg {
          path {
            fill: #fff;
          }
        }
        .select-dp {
          cursor: pointer;
          opacity: 0;
          width: 100%;
          height: 100%;
          position: inherit;
        }
      }
    }
    .user-info {
      margin-top: 30px;
      padding: 20px 30px;
      .about-me {
        flex: 1.3;
        margin-top: 30px;
        .user-name {
          color: #3c4858;
          margin-bottom: 10px;
        }
        .user-desc {
          color: #6b6b6b;
        }
      }
      .contact-me {
        flex: 1.3;
        margin-top: 30px;
        .lbl {
          color: #3c4858;
          margin-bottom: 10px;
        }
        .c-item {
          margin-bottom: 15px;
          .ico {
            margin-top: 5px;
            margin-right: 10px;
          }
          .tag {
            color: #6b6b6b;
          }
        }
      }
      .doc-list {
        margin-top: 30px;
        .lbl {
          color: #3c4858;
          // margin-bottom: 10px;
        }
        .doub-i {
          margin-right: 60px;
          &:last-child {
            margin-right: 0;
          }
        }
        .lists {
          // margin-top: 30px;
          .item {
            margin: 10px 0;
            .doc-navil {
              color: red;
              animation: blinker 1.5s linear infinite;
            }

            .doc-tag {
              margin-bottom: 8px;
              color: maroon;
            }
            .meta {
              cursor: pointer;
              &:hover {
                .doc-name {
                  color: maroon;
                }
              }
              .ico {
                margin-right: 10px;
              }
              .doc-name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 130px;
              }
            }
          }
        }
      }
      .edit-profile {
        flex: 0.5;
        margin-right: 30px;
        justify-content: flex-end;
        .ico {
          cursor: pointer;
          height: 20px;
        }
      }
    }
    .about-us-sec {
      margin-top: 20px;
      padding: 10px 20px;
      .about-blcok {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 10px;
        .about-us-header {
          justify-content: space-between;
          .left-heading {
            color: #3c4858;
          }
          .right-icon {
            margin-right: 30px;
            cursor: pointer;
          }
        }
        .desc {
          width: 95%;
          padding: 30px 0;
          color: #6b6b6b;
        }
        .about-footer {
          border-top: 1px solid #e0e0e0;
          padding-top: 10px;
          .btn {
            cursor: pointer;
          }
        }
      }
    }
    .experi-level {
      margin-top: 20px;
      padding: 10px 20px;
      .experi-blcok {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 10px;
        .about-us-header {
          justify-content: space-between;
          .left-heading {
            color: #3c4858;
          }
          .right-icon {
          }
        }
        .experi-selection {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 40px;
          grid-row-gap: 40px;
          margin: 20px 8px;
          @media only screen and (max-width: 750px) {
            grid-template-columns:1fr;
            margin-top: 10;
          }
          .select-item {
            background-color: rgb(201, 198, 198);
            border: 1px solid #e0e0e0;
            padding: 12px;
            min-height: 140px;
            min-width: 180px;
            border-radius: 4px;
            justify-content .radito-select {
              width: 100%;
              justify-content: flex-end !important;
            }
            .meta {
              .tag {
                color: #3c4858;
              }
              .desc {
                color: #6b6b6b;
                width: 70%;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .show-room-sec {
      margin-top: 20px;
      padding: 10px 20px;
      .showRoom-blcok {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 10px;
        .show-room-header {
          justify-content: space-between;
          .left-heading {
            color: #3c4858;
          }
          .right-icon {
            margin-right: 30px;
            cursor: pointer;
          }
        }
        .show-room-meta {
          padding: 23px 0;
          border-bottom: 1px solid #cfcfcf;
          &:last-child {
            border-bottom: none;
          }
          .left {
            flex: 1;
            .pic {
              .img {
                width: 108px;
                height: 110px;
                border-radius: 6px;
              }
            }
            .meta {
              margin-left: 12px;
              .tag {
                color: #3c4858;
                margin-bottom: 6px;
              }
              .desc {
                color: #6b6b6b;
                margin-bottom: 6px;
              }
              .loc {
                .loc-des {
                  color: #6b6b6b;
                  margin-left: 4px;
                }
              }
            }
          }
          .right {
            .del-icon {
              margin-right: 20px;
              cursor: pointer;
            }
            .edit-ico {
              cursor: pointer;
              margin-right: 20px;
            }
          }
        }
      }
    }

    .service-sec {
      margin-top: 20px;
      padding: 10px 20px;
      .service-blcok {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 10px;
        .service-header {
          justify-content: space-between;
          .left-heading {
            color: #3c4858;
          }
          .right-icon {
            margin-right: 30px;
            .new-service {
              margin-right: 40px;
              .lbl {
                color: #3c4858;
                margin-right: 10px;
              }
              .add-icon {
                cursor: pointer;
              }
            }
            .edit-icon {
              cursor: pointer;
            }
          }
        }
        .service-items {
          margin: 20px 0;
          .item {
            margin-top: 4px;
            margin-bottom: 4px;
            background: #3c4858;
            cursor: pointer;
            min-width: 134px;
            justify-content: space-between;
            padding: 10px;
            border-radius: 8px;
            margin-right: 20px;
            &:hover {
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
            .btn-lbl {
              margin-right: 8px;
            }
            .cross-icon {
            }
          }

          @media only screen and (max-width: 500px) {
            flex-wrap: wrap;
          }
        }
      }
    }

    .recommend-sec {
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 10px 20px;
      .recommend-blcok {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 10px;
        .recommend-header {
          justify-content: space-between;
          @media only screen and (max-width: 500px) {
            display: flex;
            flex-direction: column;
          }
          .left-heading {
            color: #3c4858;
          }
          .right-icon {
            margin-right: 30px;
            .recommend {
              margin-right: 40px;
              .lbl {
                color: #3c4858;
                margin-right: 10px;
              }
              .add-icon {
                cursor: pointer;
              }
            }
            .edit-icon {
              cursor: pointer;
            }
          }
        }
        .recommend-meta {
          margin: 20px 0;
          .item {
            @media only screen and (max-width: 500px) {
              display: flex;
              flex-direction: column;
            }
            padding-bottom: 16px;
            padding-top: 16px;
            border-bottom: 1px solid #e0e0e0;
            &:last-child {
              border-bottom: 0;
            }
            .meta-left {
              flex: 1;
              .about {
                @media only screen and (max-width: 500px) {
                  display: flex;
                  flex-direction: column;
                }
                .user-img {
                  width: 62px;
                  height: 62px;
                  border-radius: 6px;
                }
                .about-me {
                  margin-left: 10px;
                  .name {
                    color: #303030;
                    margin-bottom: 5px;
                  }
                  .time {
                    color: #303030;
                  }
                }
              }
              .desc {
                margin-top: 10px;
                color: #303030;
                // width: 95%;
                word-spacing: 1px;
                letter-spacing: 0.5px;
                @media only screen and (max-width: 500px) {
                  text-align: center;
                }
              }
            }
            .meta-right {
              flex: 0.2;
              .del-icon {
                cursor: pointer;
              }
              .day {
                color: #303030;
                margin-top: 8px;
              }
              @media only screen and (max-width: 500px) {
                display: flex;
                justify-content: center;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
.mapScreen {
  height: 250px;
}
.map-3 {
  display: none;
}
.MuiModal-root {
  z-index: 0 !important;
}
// Edit Contact Information
.edit-contact-info {
  padding: 14px;
  justify-content: center;
  .ant-select-selector {
    box-shadow: none !important;
    border: 1px solid #e0e0e0 !important;
  }
  .ant-select {
    box-shadow: none !important;
  }
  .wrap {
    width: 100%;
    .edit-contact-heading {
      color: #3c4858;
    }
    .edit-contact-block {
      .txt-item {
        min-width: 280px;
        .txt-lbl {
          margin-top: 10px;
          margin-bottom: 4px;
          color: #3c4858;
        }
        .txt-box {
          justify-content: space-between;
          align-items: center;
          border-radius: 8px;
          border: 1px solid #e0e0e0;
          padding: 6px;
          .txt-input {
            width: 100%;
          }
        }
      }
      .block-left {
        flex: 0.9;
        margin-right: 6px;
      }
      .block-right {
        flex: 0.9;
        margin-left: 10px;
      }
    }
    .action {
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .btn {
        min-width: 200px;
        color: #fff;
        border-radius: 8px;
        background-color: linear-gradient(90deg, #0e4a86 0%, #0e3e6d 100%);
      }
    }
  }
}

// Edit Contact Information
.edit-show-room {
  padding: 14px;
  .wrap {
    width: 100%;
    .edit-show-room {
      color: #3c4858;
    }
    .ant-select-selector {
      box-shadow: none !important;
      border: 1px solid #e0e0e0 !important;
    }
    .ant-select {
      box-shadow: none !important;
    }

    .edit-show-room {
      .add-img {
        .select-file {
          // width: 50px;
          // height: 100%;
          // position: absolute;
          // visibility: hidden;
          // opacity: 0;
          display: none;
        }
        .selected-img-view {
          width: 130px;
          height: 130px;
          border-radius: 8px;
        }
        .cross-icon {
          cursor: pointer;
          // background-color: $themeColor;
          padding: 5px;
        }
        .add-img-box {
          cursor: pointer;
          padding: 10px;
          border: 1px solid #e0e0e0;
          border-radius: 8px;
        }
      }
      .txt-item {
        // min-width: 280px;
        .txt-lbl {
          margin-top: 10px;
          margin-bottom: 4px;
          color: #3c4858;
        }
        .txt-box {
          justify-content: space-between;
          align-items: center;
          border-radius: 8px;
          border: 1px solid #e0e0e0;
          padding: 6px;
          .txt-input {
            width: 100%;
          }
        }
      }
      .block-left {
        flex: 0.9;
        margin-right: 6px;
        justify-content: space-between;
      }
      .block-right {
        flex: 0.9;
        margin-left: 10px;
        justify-content: space-between;
      }
    }
    .action {
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .btn {
        min-width: 200px;
        color: #fff;
        border-radius: 8px;
        background-color: linear-gradient(90deg, #0e4a86 0%, #0d3c6b 100%);
      }
    }
  }
}

.file-box {
  width: 100%;
  margin: 20px 0 !important;
  justify-content: flex-start;
  .upload-video-sec {
    .video-tag {
      width: 150px;
      height: 150px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .input-video {
      display: none !important;
    }
    .btn-select-video {
      height: 45px;
      width: 145px;
      position: relative;
      color: #000000;
      background-color: #fff;
      border: 1px solid #0e4a86;
      border-radius: 7px;
      padding: 4px 8px;
      cursor: pointer;
    }
  }
  .img-sec {
    margin-right: 10px;
    .img-tag {
      height: 100px;
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 2px;
      width: 100px;
      position: relative;
    }
    .input-img {
      display: none !important;
    }
    .btn-select-img {
      width: 145px;
      position: relative;
      color: #000000;
      background-color: #fff;
      border: 1px solid #0e4a86;
      border-radius: 7px;
      padding: 4px 8px;
      cursor: pointer;
    }
  }
  .other-video-link {
    margin-left: 10px;
    .video-link {
      height: 45px;
      width: 350px;
      position: relative;
      color: #000000;
      background-color: #fff;
      border: 1px solid #0e4a86;
      border-radius: 7px;
      padding: 4px 8px;
      cursor: pointer;
    }
  }
}

.create-product {
  .dropDown {
    width: 75% !important;
  }
}

.txtbox {
  margin-bottom: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #0e4a86;
  border-radius: 5px;
  transition: all 0.3s;
}
// Edit Contact Information
.edit-about-us {
  padding: 14px;
  .wrap {
    width: 100%;
    height: 100%;
    .edit-about-us-heading {
      color: #3c4858;
      margin-bottom: 10px;
    }

    .edit-about-us-block {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 10px;
      width: 100%;
      min-height: 300px;
      .desc {
        color: #6b6b6b;
        width: 100%;
      }
    }
    .action {
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .btn {
        min-width: 200px;
        color: #fff;
        border-radius: 8px;
        background-color: linear-gradient(90deg, #0e4a86 0%, #0c3d6e 100%);
      }
    }
  }
}

// Edit Contact Information
.add-recommend {
  padding: 14px;
  .wrap {
    width: 100%;
    height: 100%;
    .h-s {
      margin-bottom: 14px;
    }
    .add-recommend-heading {
      color: #3c4858;
      margin-bottom: 10px;
      .h-m {
        margin-bottom: 20px;
      }
    }

    .cbox {
      border: 1px solid #e0e0e0 !important;
      box-shadow: none !important;
      min-height: 40px !important;
      .unit-name {
        color: #6b6b6b;
      }
    }

    .input-section {
      margin-bottom: 25px;
      .lbl {
        color: #3c4858;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 8px;
      }
    }

    .add-recommend-block {
      .lbl {
        color: #3c4858;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 8px;
      }
      .desc {
        color: #6b6b6b;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        min-height: 100px;
      }
    }
    .action {
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .btn {
        min-width: 200px;
        color: #fff;
        border-radius: 8px;
        background: linear-gradient(90deg, #0e4a86 0%, #0b3a69 100%) !important;
      }
    }
  }
}

// Edit Contact Information
.add-new-service {
  padding: 14px;
  .wrap {
    width: 100%;
    .add-new-service-heading {
      color: #3c4858;
      margin-bottom: 10px;
    }
    .css-mnnqix-MuiFormControl-root {
      width: 100% !important;
    }
    .txt-item {
      min-width: 480px;
      .txt-lbl {
        margin-top: 10px;
        margin-bottom: 4px;
        color: #3c4858;
      }
      .txt-box {
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
        padding: 6px;
        .txt-input {
          width: 100%;
        }
      }
    }
    .action {
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .btn {
        min-width: 200px;
        color: #fff;
        border-radius: 8px;
        background-color: linear-gradient(90deg, #0e4a86 0%, #0b3a68 100%);
      }
    }
  }
}

.earning-graph {
  background-color: #fff;
  padding: 10px;
  @media only screen and (max-width: 500px) {
    width: 100%;
  }
  .header {
    // margin: 20px 0;
  }
  .grap-head {
    .left-s {
      flex: 1;
    }
  }
}
.progress-chart {
  margin: 20px 0;
  height: 465px;
  padding: 10px;
  background-color: #fff;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
  .grap-head {
    .left-s {
      flex: 1;
    }
  }
}

// dialog setting
.MuiDialog-paper{
  min-width: 800px !important;
  margin: 10px !important;
  max-height : calc(100% - 20px) !important;
  @media only screen and (max-width:800px) {
    min-width: -webkit-fill-available !important;
  }
}

// Header User Imag
.img-block {
  border-radius: 50%;
  .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.col {
  flex-direction: column;
}

//Drop Down
.dropDown {
  width: 100%;
  .category {
    width: 100%;
    .cbox {
      background: #fff;
      border: 1px solid $themeColor;
      padding: 0 16px;
      min-height: 30px;
      border-radius: 5px;
      box-sizing: border-box;
      min-width: 180px;
      width: 100%;
      justify-content: space-between;
      box-shadow: 2.8px 2.8px 1.3px rgb(0 0 0 / 1%),
        6.7px 6.7px 3.1px rgb(0 0 0 / 2%), 12.5px 12.5px 5.8px rgb(0 0 0 / 3%),
        22.3px 22.3px 10.3px rgb(0 0 0 / 3%),
        41.8px 41.8px 19.2px rgb(0 0 0 / 4%), 100px 100px 46px rgb(0 0 0 / 5%);
      @include media(">=phone", "<=480px") {
        min-width: 150px;
      }
      .slt {
        overflow: hidden;
        .ico {
          color: #000000d9;
          height: 22px;
          display: flex;
          align-items: center;
        }
        .lbl {
          color: #000;
          padding: 0 10px;
        }
      }
      .arrow {
      }
    }
  }
  .block {
    top: 33px;
    left: 0;
    right: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    width: 100%;
    .manue {
      width: 100%;
      // height: 150px;
      overflow-y: auto;
      padding: 5px 0px;
      &::-webkit-scrollbar {
        width: 4px;
      }
      .slt {
        width: 100%;
        padding: 5px 16px;
        .ico {
          justify-content: flex-start;
          margin-right: 8px;
          width: 25px;
          height: 25px;
        }
        .lbl {
          flex: 1;
          margin-left: 5px;
          justify-content: flex-start;
        }
        &:hover {
          cursor: pointer;
          .ico {
            color: $themeColor;
          }
          .lbl {
            color: $themeColor;
          }
        }
      }
    }
    &.show {
      display: flex;
      visibility: visible;
      opacity: 1;
      @include dropDownAnim;
    }
  }
}
